body {
  background-image: url("../../assets/img/green-noise.png");
  min-height: 100vh;
  color: $black;
  // Disabe selection
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: unset;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px $primary-color inset;
}
